/* @import "../node_modules/glider-js/glider.min.css"; */
.glider-next {
  right: -30px;
  top: 50%;
}

.glider-prev {
  left: -30px;
  top: 50%;
}
@media (min-width: 576px) {
  .photo {
    width: 100%;
  }
}
.photo {
  height: 400px;
}
